<div id='map'></div>
<script>
  var mapboxTiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
  })

  var map = L.map('map')
    .addLayer(mapboxTiles)
    .setView([53.9, 27.55], 12);

  // L.marker([53.9, 27.55]).addTo(map);

  // L.marker([53.9, 27.65])
  //   .addTo(map)
  //   .bindPopup('<p>Hello world!<br />This is a nice popup.</p>')
  //   .openPopup();

  // L.circle([53.9, 27.45],{
  //   radius: 2000,
  //   color: 'green',
  //   fillColor: '#afa',
  //   fillOpacity: 0.5
  // }).addTo(map);

  var colorArray = ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
      '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
      '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', 
      '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
      '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', 
      '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
      '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', 
      '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
      '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', 
      '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];

  $.ajax({url: "regions.json", success: function(result){
    result.forEach(function(item, i, arr) {
      L.geoJSON(
        JSON.parse(item[16]),
        {
          style: {
            color: colorArray[i]
          }
        }).addTo(map);
    });
  }});
</script>
